@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo&display=swap');
h1 {
    font-size: 50px;
    font-family: "Cormorant Garamond";
    text-align: center;
    border-bottom: 3px double black;
  }
h3 {
    font-size: 30px;
    font-family: "Cormorant Garamond";
  }
  
  .btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #638889;
    border: none;
  }
  .btn:hover {
    background-color: #638889ad;
  }
  input {
    background-color: rgba(245, 245, 220, 0.453);
    text-align: center;
  }
  select {
    background-color: rgba(245, 245, 220, 0.453);
    width: 50%;
    margin: 10px;
  }
  .text-center {
    justify-content: center;
  }
  
  .label {
    background-color: transparent;
    border: none;
  }
  /*card*/
  .card {
    padding: 10px;
  width: 300px;
  height: 355px;
  background-color: beige;
  }
  .card a:hover {
    background-color: #9dccbb;
  }

  .card-btn {
    position: absolute;
      bottom: 0;
      left: 0;
      margin: 10px;
  }
  
  /* Collapse */
  .collapse {
      &:not(.show) {
        display: none;
      }
    }
    
    .collapsing {
      height: 0;
      overflow: hidden;
      @include transition($transition-collapse);
    
      &.collapse-horizontal {
        width: 0;
        height: auto;
        @include transition($transition-collapse-width);
      }
    }
  