<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<div class="container">
  <div class="row">
    <div class="favorites" *ngIf="hideCookingInformation">
      <h1>Favorites</h1>
      <div class="recipes">
        @for (favorite_recipe of favorite_recipes; track favorite_recipe.id) {
        <div class="card" style="width: 18rem; margin: 10px">
          <img (click)="letsCook(favorite_recipe.id)" src="{{ favorite_recipe.image }}" class="card-img-top"
            alt="{{ favorite_recipe.title }}" />
          <div class="card-body">
            <div>
              <div (click)="letsCook(favorite_recipe.id)" class="card-title">
                <h5 class="card-title">{{ favorite_recipe.title }}</h5>
              </div>
              <div class="card-btn">
                <button (click)="letsCook(favorite_recipe.id)" class="btn btn-primary">
                  Let's cook!
                </button>
                <button (click)="addOrRemoveFavorite(favorite_recipe.id)" class="btn btn-primary m-1">
                  <i *ngIf="likedRecipes[favorite_recipe.id]" class="fa-solid fa-heart"></i>
                  <i *ngIf="!likedRecipes[favorite_recipe.id]" class="fa-regular fa-heart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        } @empty {
        <h3>You don't have any favorites yet.</h3>
        }
      </div>
    </div>
    <div class="recipeInformation" *ngIf="hideFavorites">
      <button (click)="goBack()" class="btn btn-primary">Back</button>
      <button (click)="addOrRemoveFavorite(results.id)" class="btn btn-primary m-1">
        <i *ngIf="likedRecipes[results.id]" class="fa-solid fa-heart"></i>
        <i *ngIf="!likedRecipes[results.id]" class="fa-regular fa-heart"></i>
      </button>
      @if (results) {
      <h1>{{ results.title }}</h1>
      <div class="flex-container">
        <div class="flex-item-left">
          <b>Ingredients</b>
          @for (ingredient of results.extendedIngredients; track ingredient.id)
          {
          <li>{{ ingredient.original }}</li>
          }
        </div>
        <div class="flex-item-right">
          <img src="{{ results.image }}" alt="{{ results.title }}" />
        </div>
        <div class="details flex-item-other">
          <p>Diets: {{ results.diets }}</p>
          <p>Ready in {{ results.readyInMinutes }} minutes.</p>
          <p>Serves {{ results.servings }} people</p>
        </div>
        <div class="instructions flex-item-other">
          <b>Instructions</b>
          <p [innerHTML]="results.instructions"></p>
        </div>
      </div>
      } @else {
      <h3>Not able to display results, please contact support</h3>
      }
    </div>
  </div>