h1 {
  font-size: 50px;
  font-family: "Cormorant Garamond";
  text-align: center;
  border-bottom: 3px double black;
}

/* Font size for mobile */

@media screen and (max-width: 450px) {
  h1 {
    font-size: calc(1rem + 2vw);
  }
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: #638889;
  border: none;
}

.btn:hover {
  background-color: #638889ad;
}

/* Recipe layout */
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  padding: 10px;
  flex: 2 1 auto;
  /* Flex grow is 0, flex shrink is 0, and the base width is 300px */
}

.flex-item-right {
  padding: 10px;
  flex: 1 2 auto;
  /* Flex grow is 1, flex shrink is 1, flex-basis is 0% (default) */
}

.flex-item-right img {
  width: 100%;
  max-width: (300px);
}

.flex-item-other {
  flex: 0 0 100%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 992px) {

  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }

  .flex-item-right {
    order: -1;
    ;
  }

}

/*card*/
.card {
  padding: 10px;
  width: 300px;
  height: 355px;
  background-color: beige;
}

.card:hover {
  background-color: rgba(245, 245, 220, 0.453);
}

.card-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.card-title {
  margin: 0;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-evenly;
}