<div class="container">
  <div class="row">
    <div class="buttons">
      @if (!showSearchInformation) {
        <button (click)="goBack()" class="btn btn-primary">Go back</button>
     } @else {
      <button (click)="plus()" class="btn btn-primary m-1"> <i class="fa-solid fa-plus"></i></button>
      }
    </div>
    <div class="col-md-12">
      <h1>My recipes</h1>
      <div class="searchInformation" *ngIf="showSearchInformation">
        <input type="text" [(ngModel)]="mySearch" placeholder="Search recipes" class="form-control">
        <button (click)="searchRecipe()" class="btn btn-primary m-1 w-100">Search</button>
        <div class="ownRecipes">
          <div class="row">
            @for (recipe of myRecipes; track recipe.id) {
            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0 w-100">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <p class="card-text">{{recipe.ingredient}}</p>
                    <p class="card-text">{{recipe.step}}</p>
                    <button (click)= "deleteRecipe(recipe.id)" class="btn btn-primary"> <i class="fa-solid fa-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>
            } @empty {
            <h3>You don't have any recipes yet.</h3>
            }
          </div>
        </div>
      </div>
<div class="searchresults" *ngIf="showSearchResults">
  <div class="row">
    @for (element of this.search; track element.id) {
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0 w-100">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{element.title}}</h5>
            <p class="card-text">{{element.ingredient}}</p>
            <p class="card-text">{{element.step}}</p>
            <button (click)= "deleteRecipe(element.id)" class="btn btn-primary"> <i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    } @empty {
    <h3>No results found for your search</h3>
    }
  </div>
</div>


      <div class="addRecipes" *ngIf="showAddRecipe">
        <!-- <button (click)="goBack()" class="btn btn-primary">Go back</button> -->
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title">
          </div>
          <div class="mb-1">
            <label for="ingredients" class="form-label">Ingredients</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="ingredient" name="ingredients"></textarea>
          </div>
          <div class="mb-1">
            <label for="steps" class="form-label">Steps</label>
            <textarea class="form-control" id="steps" rows="3" [(ngModel)]="step" name="step"></textarea>
          </div>
        </form>
        <button (click)="submit()" class="btn btn-primary mt-2">Add Recipe</button>
      </div>
    </div>



    <!-- To add multiple ingredients in an array instead of string
      <div class="form-group">
      <label for="ingredients">Ingredients</label>
      @for (field of fieldsArray; track $index) {
        <div>
            <input class="form-control mb-1" type="text" [(ngModel)]="fieldsArray[$index]" name="ingredients" placeholder="Ingredient {{ $index + 1 }}">
        </div>
        }
        <button class="btn btn-primary m-1" type="button" (click)="addField()">Add ingredient</button>
      </div> -->


    <!-- When recipes are public
       <div class="searchResults">
        <div class="row">
        @for (element of recipes; track element.id) {
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{element.title}}</h5>
                  <p class="card-text">{{element.ingredient}}</p>
                  <p class="card-text">{{element.id}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        } @empty {
          You don't have any recipes yet.
        } -->
  </div>