<div class="container">
    <div class="row">
        <div class="col-md-12">
          @if (recipes) {
            <h1>My recipes</h1>
          } @else {
            <h5>You don't have any recipes yet</h5>
          }
        <div class="searchInformation">
          <!-- <button (click)="addRecipe()" class="btn btn-primary m-1">Add Recipe</button> -->
          <input type="text" [(ngModel)]="mySearch" placeholder="Search recipes" class="form-control">
                <button (click)="searchRecipe()" class="btn btn-primary m-1">Search</button>
            <div class="ownRecipes">
              <div class="row">
              @for (recipe of recipe; track recipe.id) {
                <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0 w-100">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <p class="card-text">{{recipe.ingredient}}</p>
                        <p class="card-text">{{recipe.step}}</p>
                        <button class="btn btn-primary">Let's Cook!</button>
                      </div>
                    </div>
                  </div>
                </div>
              } @empty {
                <h3>You don't have any recipes yet.</h3>
              }
            </div>
          </div>
            <div class="addRecipes" >
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title">
                    </div>
                    <div class="form-group">
                      <label for="ingredients">Ingredients</label>
                          <input type="text" class="form-control" [(ngModel)]="ingredient" name="ingredients">
                      </div>
                    <div class="form-group">
                        <label for="steps">Steps</label>
                            <input type="text" class="form-control" [(ngModel)]="step" name="steps">
                    </div>
                </form>
                <button (click)="submit()" class="btn btn-primary">Add Recipe</button>
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
      <label for="ingredients">Ingredients</label>
      @for (field of fieldsArray; track $index) {
        <div>
            <input class="form-control mb-1" type="text" [(ngModel)]="fieldsArray[$index]" name="ingredients" placeholder="Ingredient {{ $index + 1 }}">
        </div>
        }
        <button class="btn btn-primary m-1" type="button" (click)="addField()">Add ingredient</button>
      </div> -->



     <!-- When recipes are public
       <div class="searchResults">
        <div class="row">
        @for (element of recipes; track element.id) {
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{element.title}}</h5>
                  <p class="card-text">{{element.ingredient}}</p>
                  <p class="card-text">{{element.id}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        } @empty {
          You don't have any recipes yet.
        } -->
</div>
