.card {
    padding: 10px;
    margin: 20px;
}
.container {
    background-color: rgba(72, 78, 69, 0.478);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px; 
    margin: 100px auto;
    width: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.btn {
    font-size: 15px;
    background-color: #638889;
    border: none;
}

h2 {
    border-bottom: 3px double black;
    padding: 10px;
}