/* register */
.card {
    padding: 10px;
    margin: 20px;
    background-color: rgba(245, 245, 220, 0);
    border: none;
}
.container {
    background-color: rgba(245, 245, 220, 0.453);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px; 
    margin: 100px auto;
    width: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.btn {
    font-size: 15px;
    background-color: #638889;
    border: none;
}

h2 {
    border-bottom: 3px double black;
    padding: 10px;
    font-family: "Cormorant Garamond";
    font-size: 4em;
}