<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<div class="container">
  <div class="row">
    <div class="col-md-12 input-field">
      <div class="search" *ngIf="hideRecipeInformation">
        @if (isLoggedIn()) {
        <h1 *ngIf="isLoggedIn()">Hi {{ getUsername() }}, what do you want to eat?</h1>
        } @else {
        <h1>What do you want to eat?</h1>
        }
        <!-- Dietary options -->
        <input type="text" class="form-control m-1 searchA" [(ngModel)]="searchInput"
          placeholder="I would like to eat..." />
        <div class="row-md-12 form-block">
          <div class="form-floating m-1 floatingSelect">
            <select class="form-select searchB" [(ngModel)]="myDiet">
              <option value="" disabled>Do you follow a special diet?</option>
              <option value="none">None</option>
              <option value="vegetarian">Vegetarian</option>
              <option value="vegan">Vegan</option>
              <option value="pescetarian">Pescetarian</option>
              <option value="lowfodmap">Low fodmap</option>
              <option value="glutenfree">Gluten free</option>
              <option value="dairyfree">Dairy free</option>
              <option value="paleo">Paleo</option>
              <option value="ketogenic">Ketogenic</option>
            </select>
            <label for="floatingSelect">Do you follow a special diet?</label>
          </div>
          <!-- Options in cuisine -->
          <div class="form-floating m-1 floatingSelect">
            <select class="form-select searchC" [(ngModel)]="myCuisine">
              <option value="" selected disabled>What cuisine do you like?</option>
              <option id="none">None</option>
              <option id="african">African</option>
              <option id="asian">Asian</option>
              <option id="chinese">Chinese</option>
              <option id="european">European</option>
              <option id="greek">Greek</option>
              <option id="indian">Indian</option>
              <option id="italian">Italian</option>
              <option id="japanese">Japanese</option>
              <option id="korean">Korean</option>
              <option id="mexican">Mexican</option>
              <option id="thai">Thai</option>
              <option id="vietnamese">Vietnamese</option>
            </select>
            <label for="floatingSelect">What cuisine do you like?</label>
          </div>
        </div>
        <button (click)="postSearchedRecipes()" class="btn btn-primary m-1">Search</button>

        <div class="searchResults">
          @if (mySearch) {
          <h3>Results for {{ mySearch }}</h3>
          } @else {
          <h3>Suggestions</h3>
          }
          <div class="recipes">
            @for (element of this.search; track element.id) {
            <div class="card" style="width: 18rem; margin: 10px">
              <img (click)="getRecipeInformation(element.id)" src="{{ element.image }}" class="card-img-top"
                alt="{{ element.title }}" />
              <div class="card-body">
                <div (click)="getRecipeInformation(element.id)">
                  <h5 class="card-title">{{ element.title }}</h5>
                </div>
                <div class="card-btn">
                  <button (click)="getRecipeInformation(element.id)" class="btn btn-primary m-1">
                    Let's cook!
                  </button>
                  <button *ngIf="isLoggedIn()" (click)="addOrRemoveFavorite(element.id)" class="btn btn-primary m-1">
                    <i *ngIf="likedRecipes[element.id]" class="fa-solid fa-heart"></i>
                    <i *ngIf="!likedRecipes[element.id]" class="fa-regular fa-heart"></i>
                  </button>
                </div>
              </div>
            </div>
            } @empty { No recipes found }
          </div>
        </div>
      </div>
      <div class="recipeInformation" *ngIf="hideSearchInformation">
        <button (click)="goBack()" class="btn btn-primary">Back</button>
        <button *ngIf="isLoggedIn()" (click)="addOrRemoveFavorite(results.id)" class="btn btn-primary m-1">
          <i *ngIf="likedRecipes[results.id]" class="fa-solid fa-heart"></i>
          <i *ngIf="!likedRecipes[results.id]" class="fa-regular fa-heart"></i>
        </button>
        @if (results) {
        <h1>{{ results.title }}</h1>
        <div class="flex-container">
          <div class="flex-item-left">
            <b>Ingredients</b>
            @for (ingredient of results.extendedIngredients; track ingredient.id)
            {
            <li>{{ ingredient.original }}</li>
            }
          </div>
          <div class="flex-item-right">
            <img src="{{ results.image }}" alt="{{ results.title }}" style="border-radius: 20px;" />
          </div>
          <div class="details flex-item-other">
            <b>Details</b>
            <p> Diets: {{ results.diets }}</p>
            <p>Ready in {{ results.readyInMinutes }} minutes.</p>
            <p>Serves {{ results.servings }} people</p>
          </div>
          <div class="instructions flex-item-other">
            <b>Instructions</b>
            <p [innerHTML]="results.instructions" style="text-align: justify;"></p>
          </div>
        </div>
        } @else {
        <h3>Not able to display results, please contact support</h3>
        }
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>