
h1 {
  font-size: 50px;
  font-family: "Cormorant Garamond";
  text-align: center;
  border-bottom: 3px double black;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: #638889;
  border: none;
}
.btn:hover {
  background-color: #638889ad;
}

input {
  background-color: rgba(245, 245, 220, 0.453);
  text-align: center;
}
select {
  background-color: rgba(245, 245, 220, 0.453);
  text-align: center;
}

.form-block {
  display: flex;
  justify-content: center;
}
.form-floating {
  width: 100%;
}
.text-center {
  justify-content: center;
}

.label {
  background-color: transparent;
  border: none;
}
/* recipe information */
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  padding: 10px;
  flex: 0 0 300px; /* Flex grow is 0, flex shrink is 0, and the base width is 100px */
}

.flex-item-right {
  padding: 10px;
  flex: 1; /* Flex grow is 1, flex shrink is 1, flex-basis is 0% (default) */
}

.flex-item-right img {
  width: 100%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
  
  .flex-item-right {
    order: -1;;
  }
}

/*card*/
.card {
  padding: 10px;
  width: 300px;
  height: 355px;
  background-color: beige;
}
.card a:hover {
  background-color: #9dccbb;
}
.card-btn {
  position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

/* Collapse */
.collapse {
    &:not(.show) {
      display: none;
    }
  }
  
  .collapsing {
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
  
    &.collapse-horizontal {
      width: 0;
      height: auto;
      @include transition($transition-collapse-width);
    }
  }
